@{
    ViewBag.Title = "European Airport List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home Page List Of Airports</h2>

<hr />

<ul>
    <li>
        <a href="/airport/">Show List</a>
    </li>
    <li>
        <a href="/airport/distance">Distance Between two Airports</a>
    </li>
</ul>

